nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(124, 10, 10, 0.301);
}
.info{
  display: flex;
  justify-content: center;
  width: 100%;
}
.info img{
 width: 30px;
}